*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}



header{
    
    height: 50px;
    background-color: #878787;
    color: #fff;
    width: 100%;
    margin: 0px auto;
}


header label{
    font-size: 30px;
    cursor: pointer;
    display: none;
}

#btn-menu{
    display: none;
    
}


nav.menu ul{
    display:flex;
    background-color: #878787;
    list-style: none;
    justify-content: flex-end;
    
}



header nav ul li a{
    padding: 25px 25px;
}

header nav ul li  a{
    text-decoration: none;
    display: block;
    color:#fff;
    font-size: 15px;
    font-weight: 500;
}

header nav ul li a:hover{
    background-color: rgba(0,0,0,0.4);
    
}


header nav ul li a span{
    margin-right: 5px;
    font-weight: 500;
    float: right;
    font-size: 20px;
}

header nav ul li.submenu ul{
    display: none;
}

nav ul li.submenu:hover ul{
    display: block;
    position:absolute;
}



@media(max-width:768px){
    
   header label{
        display: block;
        cursor: pointer;
        float:left;
        margin-top: 5px;
    
    }
    
    nav ul li.submenu:hover ul{
    display: block;
    position:static;
   }

    
    
    nav.menu {
        position:absolute;
        top: 50px;
        left:0px;
        width: 80%;
        transform: translateX(130%);
        transition: all 0.7s;
    }
    
    nav.menu ul li{
        border: 2px solid rgba(0,0,0,0.4);
    }
    
    
    #btn-menu:checked ~ .menu{
        transform: translateX(0%);
    }
    
    nav.menu ul {
        display:block;
        background-color: #872020;
    }
    
    
    nav.menu ul li:hover ul{
        display: none;
    }
}



